@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="logout-page">
    <div class="lead">
        <h1>Logout</h1>
        <p>Would you like to log out of the Wikirecord Interest Database?</p>
    </div>

    <form method="POST">
        <div class="form-group">
            <button class="btn btn-primary">Yes</button>
        </div>
    </form>
</div>