@page
@model AuthenticationService.Pages.IndexModel

<h2>Discover the recommendations of people you follow ^^</h2>

<h3><a href="@Model.LinkToHome"> Visit homepage </a> or <a id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a></h3>