name: .NET Core

on:
  push:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore Commendie.Backends.sln
    - name: Build
      run: dotnet build Commendie.Backends.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test Commendie.Backends.sln --no-restore --verbosity normal
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Deploy Authentication
      if: github.ref == 'refs/heads/master'
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./AuthenticationService/Dockerfile
        platforms: linux/amd64
        push: true
        tags: bondarencom/authenticationservice:latest
    - name: Deploy Recommendations
      if: github.ref == 'refs/heads/master'
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./RecommendationService/Dockerfile
        platforms: linux/amd64
        push: true
        tags: bondarencom/recommendationservice:latest
